# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Large datasets
datasets/products.csv
datasets/churn_labels.csv

# Tableau temporary files
*.twb~

.DS_Store